.column-label-status {
  width: 200px;
  flex-basis: 200px;
}

.column-label-priority {
  width: 200px;
  flex-basis: 200px;
}

.column-label-members {
  width: 200px;
  flex-basis: 200px;
}

.column-label-date {
  width: 200px;
  flex-basis: 200px;
}
