.task-title {
  display: flex;
  justify-content: space-between;
  // box-sizing: border-box;
  padding-left: 16px;
  max-width: 330px;
  cursor: grab;

  // margin-left: 1px;

  * {
    overflow: hidden;
  }

}

.editableTypography_14b3c95bd7 .typography_d0890bfdba {
  margin-left: 6px;
}

.task-title-container {
  display: inline-block; // Shrinks to fit content
  max-width: 100%; // Ensures it doesn't overflow
  min-width: fit-content; // Ensures it wraps the text
  cursor: text;
}

.task-title-display {
  display: inline-block; // Ensures it takes up only necessary space
  max-width: 220px; // Prevents it from growing too large
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: text;
}



.row-dragging {
  background-color: gray;
  transform: rotate(8deg);
}