.table-footer {
  // display: flex;
  display: grid;
  grid-template-columns: auto 1fr;

  & .last-cell {
    background-color: white;
  }

  .task-left-checkbox.task-border-bottom [data-testid="checkbox-checkbox"] {
      opacity: .4;
      background: white;
  }
}