.summary-row-wrapper {
  display: flex;
  height: 36px;
  position: relative;

  & .spacer-div {
    background-color: white;
    position: sticky;
    left: 0;
    flex-basis: 407px;
    flex-shrink: 0;
  }

  & .summary-row {
    display: flex;
    flex-grow: 1;
    z-index: 6;
    box-shadow: -2px 3px 5px rgba(104, 104, 104, 0.1);
    border-bottom-left-radius: 6px;
    border-left: 1px solid $layout-border-color;
    border-bottom: 1px solid $layout-border-color;
    background-color: white;
  }
}

.status-summary {
  border-left: none;
}

.summary-cell {
  display: flex;
  align-items: center;
  border-right: 1px solid $layout-border-color;
  border-top: none;
  border-bottom-left-radius: 6px;
}

.visual-summary-container {
  flex-grow: 1;
  display: flex;
  height: 24px;
  margin-inline: 8px;
}

.color-box {
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scaleY(1.2);
    border-radius: 4px;
  }
}