.tabs {
  grid-area: navigation;
  width: 100%;
  align-self: start;
  justify-self: start;
  grid-column: 1 / -1;

  & .tablist {
    width: 100%;
    border-bottom: 1px solid;
    border-color: $layout-border-color;
    height: 34px;

    & .single-tab {
      border-bottom: none;
    }
  }
}
