@use "../setup/variables" as *;

.tabs {
  grid-area: navigation;
  width: 100%;
  // align-self: start;
  // justify-self: start;
  grid-column: 1 / -1;
}

.task-tablist,
.tablist {
  width: 100%;
  border-bottom: 1px solid;
  border-color: $layout-border-color;
  height: 34px;

  & .single-tab {
    // height: 26px;
    border-bottom: none;
  }
}

.task-tablist {
  margin-top: 4px;
}

.tab-divider {
  height: 16px;
  margin: auto 0;
  align-self: center;
}

.task-tablist {
  padding-left: 16px;
}
