@use "../setup/variables";

.main-container {
  height: 100vh;
}

.board-container {
  background-color: $modal-background-color;
  height: 100%;
  display: grid;
  grid-area: board;
  border-radius: 8px 0px;
  margin-left: 10px;
  overflow-y: auto;
}
