.board-header {
  height: 156px;
  // background-color: red;
  border-radius: 8px 0 0 0;
  // width: 100%;
  padding: 18px 30px 0 38px;
  width: 100%;
  column-gap: 16px;
  display: grid;
  grid-template-areas:
    "info info action"
    "navigation navigation navigation"
    "contextualAction contextualAction contextualAction";
  grid-template-columns: fit-content(800px) 1fr;
  grid-template-rows: auto;
  width: 100%;
  // grid-template-rows: auto auto auto auto;
  .title {
    display: grid;
    grid-area: info;
    align-self: center;
  }

  .actions {
    grid-area: action;
  }

  .tabs {
    grid-row: 2;
    justify-self: start;
  }

  .action {
    grid-row: 3;
    justify-self: start;
    padding: 16px 0;
  }
}
