@use "../../setup/variables" as *;

.update-preview-actions {
  $panel-actions-spacings: 8px;
  border-block: 1px solid $ui-border-color;
  padding-inline: 16px;
  padding-block: $panel-actions-spacings;
}
