$panel-spacings: 20px;

.side-panel-contents-wrapper {
  height: 100%;
  overflow-y: scroll;

  & .side-panel-contents {
  }

  & .side-panel-header {
    padding-top: $panel-spacings;
    box-sizing: border-box;
    margin-bottom: 8px;
    position: sticky;
    z-index: 10;
    background-color: white;
    top: 0;

    & .side-panel-heading {
      margin-top: 8px;
    }

    & .side-panel-closing-bar {
      width: 100%;
    }
  }
}

.side-padding {
  padding-inline: $panel-spacings;
}
