.side-panel-contents-wrapper {
  $panel-spacings: 20px;
  height: 100%;
  overflow-y: scroll;

  & .side-panel-contents {
  }

  & .side-panel-header {
    padding: $panel-spacings $panel-spacings 0 $panel-spacings;
    box-sizing: border-box;
    margin-bottom: 8px;
    position: sticky;
    background-color: white;
    top: 0;

    & .side-panel-heading {
      margin-top: 8px;
    }

    & .side-panel-closing-bar {
      width: 100%;
    }
  }
}
