.main-container {
  background-color: #eceff8;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "nav board";

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 / -1;
    }
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.page-container {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
