.board-header {
    border-radius: 8px 0 0 0;
    padding: 10px 36px;
    display: grid;
    grid-template-columns: auto auto;
    position: sticky;
    top: 0;
    height: 156px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    .integration {
        justify-self: end;
    }

    .tabs {
        grid-row: 2;
        justify-self: start;
    }

    .action {
        grid-row: 3;
        justify-self: start;
    }
}