@use '/src/assets/styles/setup/variables';

.main-container,
.board-container {
    height: 100%;
    width: 100%;
}

.board-container {
    background-color: $modal-background-color;
    width: 100%;
    height: 100%;
    // display: grid;
    // grid-template-rows: auto 1fr;
    grid-area: board;
    border-radius: 8px 0px;
    margin-left: 10px;
    overflow: hidden;
    box-sizing: border-box;
}