.board-filter {}

.filter-dialog {
    width: 548px;
    height: 348px;
    padding: 0;

    .filter-header {
        display: flex;
        align-items: center;
        padding: 16px 24px 4px 24px;

        * {
            margin-right: 12px;
        }

        .clear-btn {
            margin-left: auto;
        }
    }

    .filter-body {
        padding: 8px 24px 24px 24px;
        box-sizing: border-box;
        height: calc(100% - 56px);

        .filter-body-header {
            margin-bottom: 4px;
            height: 30px;
            flex-shrink: 0;
        }

        .filter-body-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            // justify-content: space-between;
            height: calc(100% - 30px);
            // overflow-x: auto;
            // overflow-y: hidden;
            width: 100%;
            scrollbar-width: none;
        }

        .filter-column {
            flex: 0 0 auto;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            scroll-behavior: smooth;
            max-width: 170px;
            // padding: 0 12px;
            width: 100%;
            display: flex;
            flex-direction: column;

            .filter-column-title {
                height: 34px;
                flex-shrink: 0;
                position: sticky;
                top: 0;
                background-color: #fff;
                z-index: 1;
            }

            .filter-item {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background-color: #f5f6f8;
                padding: 0 12px;
                margin-right: 4px;
                margin-bottom: 4px;
                height: 32px;
                cursor: pointer;
                border-radius: 4px;

                &:hover {
                    background-color: #6768791A;
                }

                &.active {
                    background-color: #cce5ff;
                }

                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 21px;
                    margin-right: 12px;
                }

                span {
                    margin-left: auto;
                    font-size: 0.9em;
                    color: #676879;
                }

            }
        }
    }
}

.filter-btn {
    &.active {
        background-color: #cce5ff;
    }

    &.active:hover {
        background-color: #cce5ff !important;
    }
}