@use '/src/assets/styles/setup/variables';

.main-container,
.board-container {
    height: 100%;
    width: 100%;
}

.board-container {
    background-color: $modal-background-color;
    width: 100%;
    min-height: 0;
    grid-area: board;
    border-radius: 8px 0px;
    // overflow: hidden;
    box-sizing: border-box;
}