@use "/src/assets/styles/setup/variables" as *;

.board-container {
  height: 100%;
  font-family: "Figtree", "Roboto", sans-serif;
}

.board-container {
  background-color: $modal-background-color;
  min-height: 0;
  grid-area: board;
  border-radius: 8px 0px;
  position: relative;
  overflow-y: auto;
}
