.crudl-bar {
    height: 63px;
    width: auto;
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 30px;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: column;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);
    background-color: #FFF;



    >* {
        width: 100%;
    }


    .select-count {
        border-radius: 5px 0 0 5px;
        width: 63px;
        height: 63px;
        background-color: #0073ea;
        color: white;
        flex: 0 0 63px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tasks-selected {

        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        margin-right: var(--spacing-large);
        cursor: default;


        .task-selected-heading {
            color: var(--primary-text-color);
            font-size: 24px;
            padding-left: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
        }

        .dot-container {

            color: #333333;
            padding-left: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 20px;

            .dot {
                width: 7px;
                height: 7px;
                border-radius: 20px;
                margin-right: 4px;
            }
        }
    }

    .crud-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        justify-content: space-evenly;
        font-size: 0.87em !important;
        letter-spacing: 0.3px;
        font-weight: 300;

        &:hover {
            transform: scale(1.1);
            color: #0073ea;
        }

        .icon {
            width: 100%;
            height: 100%;
            width: 20px;
            height: 20px;

            display: flex;
            justify-content: center;
        }
    }

    .unselect {
        flex: 0 0 63px;
        width: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 2px solid #ccc;

        transition: 0.05s;
        cursor: pointer;


        &:hover {
            color: #0073ea;
        }
    }


}