// Variables for styling
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$border-color: #ddd;
$hover-bg: #f5f6f8;
$header-bg: $modal-background-color;
$font-color: #333;


.group-list {
    margin-bottom: 36px;
    // border: 1px solid #ddd;
    // border-top: 1px solid #ddd;

    .side-bar {
        position: fixed;
        display: flex;
        flex-direction: column;
        // align-items: center;
        z-index: 5;
        background-color: #fff;
        // background-color: red;
        // height: 36px;
        // border-right: 1px solid #ccc;

        border-radius: 8px 0 0 0;

        // border-top: 1px solid #ddd;

        .crudl-menu {
            width: 30px;

        }


        .label-side {
            border-top: 1px solid #ddd;
        }

        .label-side,
        .task-side {
            // Use flex so each "column" can have a fixed min-width
            display: flex;
            align-items: center;
            height: 36px;
            border-bottom: 1px solid #ccc;
            width: 100%;

            // background-color: red;


            >* {
                display: flex;
                align-items: center;
                // If you want left-aligned text, override:
                justify-content: flex-start;
                padding: 0 8px;
                height: 100%;
            }



            .group-select,
            .task-select {
                flex: 0 0 33px;
                min-width: 33px;
                position: sticky;
                left: 0;
                z-index: 2;
                // background-color: #fff;

                border-right: 1px solid #ddd;
            }

            .label-task,
            .task-title {
                flex: 0 0 200px;
                display: block;
                line-height: 200%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                min-width: 200px;
                max-width: 200px;
                position: sticky;
                left: 50px;
                z-index: 2;
                background-color: #fff;
                // border-right: 1px solid $border-color;
                // background-color: red;
            }

            .label {
                // border-right: 1px solid $border-color;
                // margin-left: 20px;
                width: 100%;
            }

        }
    }

    .label {
        border-right: 1px solid $border-color;
        margin-left: 15px;
        width: 100%;
    }

    .task-item {
        border-right: 1px solid $border-color;
        margin-left: 15px;
        width: 100%;

    }


    .label-row {
        border-top: 1px solid #ddd;
    }


    .label-row,
    .task-row {


        display: flex;
        align-items: center;
        height: 36px;
        border-bottom: 1px solid #ccc;

        >* {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 8px;
            height: 100%;
        }


        .group-select,
        .task-select {
            flex: 0 0 33px;
            min-width: 33px;
            position: sticky;
            left: 0;
            z-index: 2;
            // background-color: #fff;

        }


        .label-task,
        .task-title {
            flex: 0 0 200px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 200px;
            position: sticky;
            left: 50px;
            z-index: 2;
            background-color: #fff;
            border-right: 1px solid $border-color;
            // background-color: red;
        }


        /* STATUS */
        .label-status,
        .task-status {
            flex: 0 0 120px;
            min-width: 120px;
        }

        /* PRIORITY */
        .label-priority,
        .task-priority {
            flex: 0 0 120px;
            min-width: 120px;
            /* Optional: border-right: 1px solid #ddd; */
        }

        /* MEMBERS */
        .label-members,
        .task-members {
            flex: 0 0 120px;
            min-width: 120px;
            // border-right: 1px solid #ddd;
            position: relative;
            justify-content: center;
        }

        .addMembers {
            position: absolute;
            left: 0;
            z-index: 9;
            bottom: 10px;
            color: blue;
            cursor: pointer;
            margin: 0;
            display: block;
            padding: 0 !important;
            width: 15px !important;
            height: 15px !important;
            border-radius: 50%;
        }

        .addMemberDialog {
            position: absolute;
            z-index: 10;
        }

        .avatars {
            width: 100%;
            justify-content: center;
            display: flex;
        }

        /* DATE */
        .label-date,
        .task-date {
            flex: 0 0 120px;
            min-width: 120px;
            width: 100%;

            // border-right: 1px solid #ddd;
        }

        .label-timeline,
        .task-timeline {
            flex: 0 0 120px;
            min-width: 120px;
            width: 100%;

            // border-right: 1px solid #ddd;
        }

        /* FILLER */
        .label-filler,
        .task-filler {
            flex: 0 0 120px;
            width: 100%;
            border: none;
        }

        .label {
            border-right: 1px solid $border-color;
            margin-left: 10px;
            width: 100%;
        }

        .task-item {
            border-right: 1px solid $border-color;
            margin-left: 10px;
            width: 100%;

        }


    }


    button {
        margin-top: 6px;
        cursor: pointer;
    }

}

// Fix for editable text misalignment
.editableTypography_14b3c95bd7 {
    margin-left: 0;
}