// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;



$light-bg: #ffffff;

$text-main-color: #000000;
$text-secondary: #737373;
$text-main-color-dark: #f5f5f5;
$text-secondary-color-dark: #a8a8a8;


$element-hover-bg: #fafafa;
$element-hover-bg-dark: #121212;

$input-bg: #efefef;
$section-lines: #c7c7c7;

$link-blue: #0095f6;
$link-blue-hover: #e0f1ff;

$button-blue: #0095f6;
$button-blue-hover: #1877f2;
$button-grey: #efefef;
$button-grey-hover: #dbdbdb;
$button-grey-dark: #363636;
$button-grey-hover-dark: #262626;

$icon-color: $text-main-color;
$icon-color-hover: $text-secondary;

$grey-hover: #737373;

$post-hover: #0000004D;



