.dialog-value-picker-item {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  width: 150px;
}

.dialog-value-picker {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
